.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
}

.board-container:hover {
  transition: 0.25s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.board-link {
  text-decoration: none;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.github-icon {
  width: 2.5rem;
}